.layout-header {
  width: 100%;
  height: 60px;
  background-color: #3EECAC;
  background-image: linear-gradient(90deg, #3EECAC 66%, #e4acdf 74%);
  padding-right: 100px;
  display: flex;
  justify-content: flex-end;
}