.register-page-wrapper{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form-wrapper{
    width: 250px;
    text-align: center;
    background-color: rgb(231, 243, 239);
    box-shadow: 0 -15px 10px 0 aqua;
    
}