.main-section-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 40px;
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 21%, #B5FFFC 41%);
}
